.quiz {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background-color: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  transition: 0.5s ease;

  &-box {
    position: relative;
    width: 480px;
    background-color: transparent;
    border: 2px solid #0d0de7;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    transform: scale(0.9);
    transition: 0.5 ease;

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);
      transition: 1s ease;
      transition-delay: 1s;
    }

    h1 {
      font-size: 2rem;
      text-align: center;
      border-radius: 6px;
      background: linear-gradient(45deg, transparent, #0d0de7, transparent);
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 2px solid #0d0de7;
      margin-bottom: 25px;

      span {
        font-size: 1.25rem;
        font-weight: 500;
      }

      &__question-no {
        background-color: #0d0de7;
        border-radius: 3px;
        padding: 7px;
      }
    }

    &-question-txt {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &-option-list {
      width: 100%;

      &__option {
        box-sizing: border-box;
        width: 100%;
        padding: 12px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        font-size: 1.05rem;
        margin: 15px 0;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          border-color: rgba(255, 255, 255, 0.1);
        }

        &.selected {
          border: 2px solid #e2ff00;
          span {
            color: #e2ff00;
          }
        }
      }
    }

    &-btn-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #0d0de7;
      margin-top: 1.5rem;
      padding: 15px 0 7px;

      &-exit,
      &-continue {
        width: 6rem;
        height: 2.75rem;
      }
    }
  }

  &-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 500px;
    background: transparent;
    border: 2px solid #0d0de7;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;

    h2 {
      font-size: 3rem;
    }

    &-container {
      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0 40px;

      &-progress {
        position: relative;
        width: 250px;
        height: 250px;
        background: conic-gradient(
          #0d0de7 3.6deg,
          rgba(255, 255, 255, 0.1) 0deg
        );
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          width: 210px;
          height: 210px;
          background: #09001d;
          border-radius: 50%;
        }

        &-value {
          font-size: 45px;
          font-weight: 600;
          color: #fff;
          z-index: 2;
        }
      }

      &-score {
        font-size: 26px;
        font-weight: 600;
        margin-top: 20px;
      }
    }

    &-btn-group {
      display: flex;

      div {
        width: 8rem;
        height: 3rem;
        margin: 1rem;
      }
    }

    &-details {
      position: fixed;
      width: 480px;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      background: #fdf4f4;
      padding: 1rem;
      border-radius: 0.5rem;
      z-index: 2;
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s ease-in-out;

      &.active {
        opacity: 1;
        transform: scale(1);
      }

      * {
        color: black;
      }

      h2 {
        margin-bottom: 1rem;
        color: #0d0de7;
      }

      &-close {
        position: absolute;
        top: 0;
        right: 0.5rem;
        font-size: 2rem;
        cursor: pointer;
      }

      &-expl {
        text-wrap: wrap;
        overflow: scroll;
      }
    }
  }

  &-loader {
    position: relative;
    width: 480px;
    background-color: transparent;
    border: 2px solid #0d0de7;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    transform: scale(0.9);
    position: absolute;

    p {
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.8);
      line-height: 2.25rem;
    }

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }
}


@media screen and (max-width: 720px) {
  .quiz {
    margin-top: 2rem;
    align-items: flex-start;
    &-box {
      width: 97.5vw;

      &-header {
        span {
          font-size: 1rem;
        }
      }

      &-question-txt {
        font-size: 1rem;
      }

      &-option-list {
        &-option {
          font-size: 0.85rem;
        }
      }
    }

    &-loader {
      width: 97.5vw;
    }

    &-result {
      width: 97.5vw;
      top: 40%;

      &-btn-group {
        flex-wrap: wrap;
        justify-content: center;
      }
  
      &-details {
        width: 97.5vw;
      }
    }
  }
}