.custom-button {
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    height: inherit;
    min-height: 2rem;
    cursor: pointer;
    font-size: inherit;
    letter-spacing: 0.075em;
}